@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import './styles/lernello-theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@plugin '@tailwindcss/forms';

/* @custom-variant dark (&:where(.dark, .dark *)); */

@layer base {
	html,
	body {
		@apply h-full;
	}
}

@layer components {
	.preset-typo-subtitle {
		font-size: var(--text-base);
		font-family: var(--heading-font-family);
		color: var(--color-surface-700-300);
		@variant lg {
			font-size: var(--text-xl);
		}
	}

	.floating {
		@apply absolute top-0 left-0 max-w-max;
	}
}
